h1, h4, h6, *{
  text-align: center;
}

h1, h6, h4{
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

img {
  margin-bottom: 20px;
  min-width: 100%;
  height: auto;
}

.imgWrap {
  position: relative;
  height: 300px;
  width: 450px;
  margin: 5px 5px 5px 5px;
  display: inline-block;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 30;
  padding-bottom: 30;
  background: rgba(29, 106, 154, 0.72);
  color: black;
  font-size: 15px;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 575;
  background-color: white;
  background-size: 350.5px 372px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility opacity 0.2s;
  
}

.imgWrap:hover .imgDescription{
  visibility: visible;
  opacity: 0.75;
  height: 300px;
  width: 450px;
}


.imgWrap img{
  height: 300px;
  width: 450px;
  position: relative;
  min-width: 100%;
  height: auto;
}

p{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

}



